<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong> Ustaw swoją rolę </strong></p>
  <% User::ROLES.each do |role| %>
    <%= f.radio_button :role, role %> 
    <%= f.label role %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
