<p id="notice"><%= notice %></p>
<h3><%= @event.name %></h3>
<p><%= @event.description %></br>
#<%= @event.hashtag %></br></br>
<%= link_to "Publikuj na twitterze!", publish_event_path(@event), method: :post %>

<p> Komentarze: </p>
<%= render partial: "comments/comment", collection: @comments %>
<%= link_to 'Dodaj Komentarz', new_event_comment_path(@event) %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
