<!DOCTYPE html>
<html>
<head>
  <title>AhriBotEventBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <h3>Cześć, <%= current_user.email %></h3>
  <%= link_to "Przeglądaj wydarzenia", events_path %>
  <%= link_to "Ustaw rolę", [:edit, current_user] %>
  <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Zaloguj przez twitter", user_omniauth_authorize_path(:twitter) %><br />

<% end %>
<%= yield %>

</body>
</html>
